.globalnav {
    background-color: #2196F3;
    width: 100%;
    height: 64px;
  }
  
  .g-n-list {
    list-style: none;
    display: flex;
    padding-left: 62px;
  }
  
  .g-n-button1, .g-n-button2 {
    height: 64px;
    background: transparent;
    border: none;
    color:white;
    cursor: pointer;
  }
  
  .g-n-button1 {
    width: 120px;
  }
  
  .g-n-button2 {
    width: 173px;
  }
  
  .g-n-button1:hover, .g-n-button2:hover, .g-n-button1.active, .g-n-button2.active {
    background: #1E88E5;
  }
